

<section class="slider-comparison-wrapper">
  <div class="slider-comparison">
    {% for block in section.blocks %}
      {% if block.settings.combined_image %}
        <div class="slide-item">
          <div class="slide-inner">
            <a style="text-decoration: none;" href="{{ block.settings.url }}">
                <img  src="{{ block.settings.combined_image | img_url: 'master' }}" alt="Comparison Slide"  class="single-img">
            </a>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</section>


{% schema %}
{
  "name": "Image Slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "combined_image",
          "label": "Upload Combined Image"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Image Url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}